* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pumpkin-img {
    width: 300px;
    height: 200px;
    border: 1px solid orangered;

}